header {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}



p {
    text-align: center;
}

.card-panel {
    margin-top: 10vh;
}

button {
    background-color: #f44336 !important; 
}

